h1 {
  font-size: 40px;
  font-family: Algae;
  
}
#title{
  background-color: #2E8B57	;
  padding: 20px;
  text-align: center;
}
#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}
#tribute-info{
  background-color: #2E8B57	;
  padding: 20px;
  text-align: center;
}
body {
  background-color: #228B22;
  
     }
h5{
  font-size: 15px;
  text-align: center;
}